{% extends 'utils/base.html' %} {% block start %}
<div class="col-md-3 mt-5 mx-auto">
  <h1 class="mt-8">Movie Details</h1>
  {% if movie.poster %}
  <img
    src="{{ movie.poster.url }}"
    class="card-img-top movie-poster"
    alt="{{ movie.title }}"
    style="
      width: 100%;
      height: 300px;
      border: 1px solid black;
      border-radius: 10%;
    "
  />
  {% else %}
  <img
    src="https://via.placeholder.com/300x450?text=No+Image"
    class="card-img-top movie-poster"
  />
  {% endif %}

  <div class="card-body d-flex flex-column">
    <h2 class="card-title fw-bold mb-1">{{ movie.title }}</h2>
    <h3 class="text-muted">{{ movie.hero_name }}</h3>
    <span
      >{% if not is_faviorite %}
      <a href="{% url 'add_to_faviorites' movie.id %}" style="font-size: 30px"
        ><i class="fa-solid fa-heart-circle-plus"></i
      ></a>
      {% else %}
      <a href="{% url 'add_to_faviorites' movie.id %}" style="font-size: 30px"
        ><i class="fa-solid fa-heart-circle-minus"></i
      ></a>
      {% endif %}</span
    >

    <div class="mt-2">
      <span class="badge bg-danger">{{ movie.rating }} ⭐</span>
    </div>
    <div class="mt-2">{{movie.description}}</div>

    <small class="text-muted mt-2"> {{ movie.relese_date }} </small>

    <div class="mt-2">
      {% for genre in movie.genres.all %}
      <span class="badge bg-primary me-1 mb-1">{{ genre }}</span>
      {% endfor %}
    </div>

    <!-- {% if not is_faviorite %}
    <a href="{% url 'add_to_faviorites' movie.id %}" style="font-size: 30px;"
      ><i class="fa-solid fa-heart-circle-plus"></i
    ></a>
    {% else %}
    <a href="{% url 'add_to_faviorites' movie.id %}" style="font-size: 30px;"
      ><i class="fa-solid fa-heart-circle-minus"></i
    ></a>
    {% endif %} -->
  </div>
</div>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form
        action=""
        method="POST"
        class="card shadow-sm p-4"
        style="border-radius: 12px"
      >
        {% csrf_token %} {% include 'utils/alert.html' %}

        <h4 class="text-center mb-3 fw-bold">✍️ Share Your Opinion</h4>

        <div class="mb-3">
          <label class="form-label fw-semibold">Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter your name"
            required
            name="person_name"
          />
        </div>

        <div class="mb-3">
          <label class="form-label fw-semibold"> Your Review </label>
          <textarea
            class="form-control"
            rows="4"
            name="comment"
            placeholder="Write your review here..."
            required
          ></textarea>
        </div>

        <button type="submit" class="btn btn-primary w-100">
          Submit Review
        </button>
      </form>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h3>Total Comments:-{{ reviews |length}}💬</h3>
      {% for review in reviews %}

      <div
        class="card mb-3"
        style="
          background-color: #e9f7ef;
          border-left: 4px solid #2ecc71;
          border-radius: 10px;
        "
      >
        <div class="card-body p-3">
          <div class="d-flex justify-content-between mb-2">
            <strong class="text-success"> {{ review.person_name }} </strong>
            <small class="text-muted"> {{ review.comment_at }} </small>
          </div>

          <p class="mb-0" style="font-size: 15px; line-height: 1.6">
            {{ review.comment }}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
